
// Primary Color

//$pri-color: rgb(250, 185, 91);
//$pri-color: rgb(230, 195, 100);
//$pri-color: rgb(221, 202, 125);
$pri-color: rgb(231, 202, 125);
$pri-color-trans: rgba(231, 202, 125, 0.90);
$pri-color-trans-1: rgba(231, 202, 125, 0.75);
$pri-color-trans-2: rgba(231, 202, 125, 0.5);
$pri-color-trans-3: rgba(231, 202, 125, 0.25);

// Secondary Color
$sec-color: rgb(39, 64, 96);
$sec-color-trans: rgba(39, 64, 96, 0.9);
$sec-color-trans-1: rgba(39, 64, 96, 0.75);
$sec-color-trans-2: rgba(39, 64, 96, 0.5);
$sec-color-trans-3: rgba(39, 64, 96, 0.25);

// Extra
$ter-color: #90afc5;

$light-color: white;
$dark-color: black;
$dark-text-color: rgba(0, 0, 0, 0.65);
